@import 'normalize';

$font-family: 'Avenir';

html {
  font-family: $font-family;
  color : #1c1917;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

#game-desk {
  display: flex;
  justify-content: space-between;
}

.btn {
  padding: 15px 30px;
  background-color: #818cf8;
  color: #fff;
  border: none;
  border: 2px solid #6366f1;
}

#reset {
  background-color: #fb7185;
  border: 2px solid #f43f5e
}